<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/Bill7zz/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="Bill7zz" />
            <add key="ClearTextPassword" value="394abeb751ae61cc60661dccf7667aeb4d80fb7b" />
        </github>
    </packageSourceCredentials>
</configuration>